:root{
    --white30: #fff;
    --white20: #A5A3A5;
    --white10: #3A3539;
  }
  
html {
  scroll-behavior: smooth;
  }
  
body{
  font-family: 'Nunito', sans-serif;
  color: var(--white30);
  background: #251F24;
    /* font-family: charter; */
}


a{
  color: var(--white30);
}

h2{
  font-weight: bold;
}

h1{
  font-size: 30px;
  margin-block-start: 20px;
  margin-block-end: 16px;
  margin-inline: 16px;
  font-weight: normal;
}

h1 + p {
  margin-bottom: 64px;
}

h2{
  font-size: 2em;
  margin-block: 40px;
}

h3{
  font-size: 1.5em;
  font-weight: 600;
  margin-block: 16px;
}

hr{
  border-color: rgba(97, 97, 97, 0.2);
  margin-block: 40px;
}

p{
  color: var(--white20);
}


.header-content{
  padding-inline: 20px;
}


header{
  margin-block-start: 20px;
  font-size: 14px;
  color: var(--white30); 
}

header li{
  color: var(--white20);
  margin-block-end: 16px;
}

header a {
  color: var(--white20);
  text-decoration: none;
}

header a:hover{
  color: var(--white10);
}

nav details summary{
  line-height: 24px;
}

/* .main{
  padding-inline: 16px;
} */

.main hr {
  display: none;
}



.wrapper{
  max-inline-size: 902px;
  margin: auto;
}


  
nav details summary{
  font-weight: bold;
}
    
pre{
  background: var(--white10);
  padding-inline: 40px;
  padding-block: 40px;
  margin: 0;
  overflow: auto;
  border-start-start-radius: 8px;
  border-start-end-radius: 8px;
  border-end-end-radius: 8px;
  border-end-start-radius: 8px;
}
  

  
blockquote p{
  color: var(--white30);
 
}

blockquote{
  margin-block-start: 80px;
  margin-block-end: 63px;
  padding-inline: 24px;
  padding-block: 24px;
  background: var(--white10);
  border-radius: 8px;
  font-size: 24px;
  line-height: 32px;
}
  
blockquote span::before{
  content: '- ';
}
  
.hero{
  background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
  /* background-image: linear-gradient(to top, rgba(255,255,255, .2), transparent), url(/images/pattern.png); */
  block-size: 50px;
}

.section-content img{
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
}
  

  
.section-content:first-of-type{
  margin: 0;
}
    
  
.section-content{
  counter-reset: titleLinear;
}
  
.section-content h3{
  counter-increment: titleLinear;

}
  
.section-content h3::before{
  content: counter(titleLinear, decimal)'. ';
}
  

.slider-container{
  display: block;
  white-space: nowrap;
  inline-size: 100%;
  scroll-behavior: smooth;
  overflow: auto;
  font-size: 0;
}

.video{
  display: inline-block;
  margin: 0;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.slider-bullet-list{
  margin-block-start: 16px;
  text-align: center;
}

.slider-bullet{
  display: inline-block;
  inline-size: 16px;
  block-size: 16px;
  background: rgba(66, 66, 66, .2);
  border-radius: 50%;
}

.slider-bullet:hover{
  background: #ffffff;
}

.form input{
  inline-size: 100%;
  display: block;
  border: 1px solid var(--white30);
  border-radius: 8px;
  padding-block: 12px;
  padding-inline: 16px;
  margin-block-end: 24px;
  color: var(--white30);
  background: #251F24;
  box-sizing: border-box;
  font-size: 16px;
}

.form input::-webkit-input-placeholder{
  color: var(--white30);
}

.form input[type="submit"]{
  border: none;
  background: #157EFB;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (min-width:1366px) {
  .hero{
    block-size: 350px;
  }
  .header{
    position: sticky;
    inset-block-start: -45px;
  }
  
  .header-content{
    position: relative;
    inset-block-start: 64px;
    padding-inline: 0;
  }
  
  
  header{
    inline-size: 188px;
    position: absolute; 
    inset-inline-start: -232px;
    inset-block-start: 0;
  }

  h1{
    font-size: 60px;
    margin-block-start: 64px;
  }
}